In [1]:
# make a list

MyList = [3,2.44,"green",True]

In [6]:
# type show what type of value it is!

type(3)

int

In [7]:
type(2.44)

float

In [8]:
type("green")

str

In [9]:
# bool can only have two outcomes, true or false

type(True)

bool

In [10]:
## boolean example

xx = "red"

yy = "red"

In [11]:
# if two variables are identical use "=="

xx == yy

True

In [12]:
# "!=" if two things are not equal to each other 

xx != yy

False

In [13]:
# element at position 0, only applies in python

MyList[0]

3

In [14]:
type(MyList[0])

int

In [17]:
# elements are the items in the list such 3,2.44.. and so on..
# shows the type of variable int the list such as int, float, str & bool
# elements = variable in the list

for element in MyList:
    print(type(element))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [18]:
# the length of the list

len(MyList)

4

In [23]:
MyList = [3,2.44,"green",True]
list(range(4))

[0, 1, 2, 3]

In [24]:
# one way to do it (the clearest way to do it)

listlen = len(MyList) # get the length of the list

for index in range(listlen):
    element = MyList[index] # extract item at index "element" 
    print(type(element))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [25]:
# a second way to do it (a little more confusing to do it but it's a shortcut)

for index in range(len(MyList)):
    element = MyList[index]
    print(type(element))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [28]:
MyList[1:2] # start in the index where you start at 1 and ends at 2 but does not include it

[2.44]

In [32]:
MyList[0:3]

[3, 2.44, 'green']

In [34]:
MyList[:]   # assumes we want everything

[3, 2.44, 'green', True]

In [35]:
MyList[2:] # everything from index(position) 2 to the end

['green', True]

In [36]:
list2 = MyList.copy() # a copy of the list to another list

In [37]:
MyList.clear # clears the original list

In [38]:
list2 # here are the copied items

[3, 2.44, 'green', True]

In [39]:
list2.pop()

True

In [40]:
list2 # 'pops' out True, it is no longer listed in the list2 list

[3, 2.44, 'green']

In [41]:
MyList

[3, 2.44, 'green', True]

In [42]:
list2 = MyList
list2.pop()

True

In [43]:
list2

[3, 2.44, 'green']

In [44]:
MyList #now we took out 'True' out of the list because list2 = Mylist so anything you do to list2 it will affect MyList

[3, 2.44, 'green']

In [45]:
xx = "dinosaur"
MyList.append(xx) # 'append' adds an item to the list

In [46]:
MyList

[3, 2.44, 'green', 'dinosaur']

In [47]:
MyList = [3,2.44,"green"]
list2 = ["2", "two", 2]

In [48]:
MyList.append(list2) #adding a list withing a list
MyList

[3, 2.44, 'green', ['2', 'two', 2]]

In [49]:
# Dictionaries

## create a dictionary
#{}

my_dict = {}
my_dict

{}

In [50]:
my_dict["dinosaur"] = 1000   # this key will be associated to a particular value
my_dict["dog"] = 10
my_dict

{'dinosaur': 1000, 'dog': 10}

In [53]:
my_dict = {"dinosaur": 1000, "dog": 10, "cat": 5, "parrot": 2}

In [55]:
my_dict["dinosaur"]  # the value of the dinosaur is

1000