In [3]:
# writing a for loop 

apes = ["Homo", "Pan", "Gorilla"]

for name in apes:
        print(name + " is an ape")

Homo is an ape
Pan is an ape
Gorilla is an ape

In [4]:
for number in range(3, 8):
    print(number)

3
4
5
6
7

In [6]:
for number in range(2, 14, 4):
        print(number)

2
6
10

In [7]:
count = 1
while count<10:
    print(count)
    count = count + 1

1
2
3
4
5
6
7
8
9

In [8]:
print(3 == 5)

False

In [9]:
print(3 > 5)

False

In [10]:
print(3 < 5)

True

In [11]:
expression_level = 125
if expression_level > 100:
    print("gene is highly expressed")

gene is highly expressed

In [1]:
## Class challenge step 1
I used w get to download the first data set

cd - /Desktop/eeb-177/class-assignments/in-class-challenge-1/nature21074-f1.csv

In [ ]:
# answer for question 1
cut -d "," -f3 formatted.1nature.csv | sort | uniq | wc -l 
195 



Class partner: Krishna